*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

/* HERO SECTION */

.hero{
text-align:center;
padding:60px 20px;
background:linear-gradient(135deg,#06b6d4,#2563eb);
}

.profile-pic{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
box-shadow:0 0 25px rgba(255,255,255,0.5);
margin-bottom:20px;
}

.hero h1{
font-size:3rem;
}

.tagline{
margin-top:10px;
font-size:1.2rem;
}

.cgpa{
margin-top:10px;
font-weight:bold;
color:#fde047;
}

.buttons{
margin-top:25px;
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:15px;
}

.btn,
.github-btn,
.linkedin-btn{
text-decoration:none;
padding:12px 25px;
border-radius:30px;
font-weight:bold;
transition:0.3s;
color:white;
}

.btn{
background:#111827;
}

.github-btn{
background:#24292e;
}

.linkedin-btn{
background:#0077b5;
}

.btn:hover,
.github-btn:hover,
.linkedin-btn:hover{
transform:translateY(-4px);
}

/* NAVBAR */

nav{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
padding:15px;
background:#111827;
position:sticky;
top:0;
z-index:100;
}

nav a{
color:white;
text-decoration:none;
font-weight:600;
}

nav a:hover{
color:#06b6d4;
}

/* SECTION */

section{
padding:50px 10%;
}

section h2{
text-align:center;
margin-bottom:25px;
color:#06b6d4;
}

/* CARDS */

.card{
background:#1e293b;
padding:25px;
border-radius:15px;
margin-bottom:20px;
border-left:5px solid #06b6d4;
transition:0.3s;
}

.card:hover{
transform:translateY(-6px);
box-shadow:0 0 20px rgba(6,182,212,0.5);
}

/* SKILLS */

.skills-container{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.skills-container span{
background:#06b6d4;
padding:10px 20px;
border-radius:25px;
font-weight:bold;
}

.skills-container span:hover{
background:#0891b2;
}

/* CONTACT */

#contact{
text-align:center;
}

/* FOOTER */

footer{
background:#111827;
text-align:center;
padding:20px;
}

/* MOBILE */

@media(max-width:768px){

.hero h1{
font-size:2rem;
}

.profile-pic{
width:140px;
height:140px;
}

section{
padding:40px 20px;
}

.buttons{
flex-direction:column;
align-items:center;
}

}
